vagrant/chapter2/.vagrant
vagrant/chapter3/.vagrant
vagrant/chapter5/linker-to-service/.vagrant
vagrant/chapter5/service-to-linker/.vagrant
vagrant/chapter6/.vagrant
vagrant/chapter7/.vagrant
vagrant/chapter8/.vagrant
vagrant/.DS_Store
